<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Accueil</title>
  </head>
  <body>
    <header th:insert="navbar"></header>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      "
    >
      <div>
        <div
          class="divFilm"
          role="img"
          aria-label="A 3D looking cartoon of a clapperboard/slate "
        ></div>
      </div>
    </div>
    <footer></footer>
    <script src="script.js" defer></script>
  </body>
</html>
